#nav-bar-id-nav1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}

#nav-bar-id-nav1s2 {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
}

#user-id-ul1 {
    width: 100px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#user-id-ul1li21 {
    grid-column: 1;
}

#user-id-ul1li22, #user-id-ul1li2 {
    grid-column: 2;
}

.user-ul1li2A, .user-ul1li2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-ul1li2Ai3, .user-ul1li2i3 {
    width: 30px;
    height: auto;
    padding: 5px;
}


#dropdown-id-d1 {
    position: absolute;
    top: 45px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px 5px;
    background-color:cadetblue;
    color: black;
    z-index: 1;
}

.dropdown-element-d1 {
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    border-radius: 25px;
    padding: 5px;
}

.dropdown-element-d1:hover {
    background-color: azure;
}

.dropdown-element-d1i2 {
    width: 15px;
    margin: 0px 10px;
}
