#spot-id-d1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 640px;
}

#spot-id-d1d21{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spot-id-d1d21i3{
    width: 80%;
    height: auto;
}


#spot-id-d1d22 {
    display: grid;
    grid-template-rows: 1fr 500px 40px;
    padding: 20px;
    background-color: #d3d3d3;
}

#reviews-element-id-d1d2 {
    width: 600px;
    height: 380px;
    margin-top: 20px;
    border-radius: 20px;
    overflow: auto;
    background-color: #0b090a;
}

/* SPOT DETAILS */

#spot-details-element-id-d1d21 {
    display: flex;
    justify-content: space-around;
}

#spot-details-element-id-d1p2 {
    padding: 0px 20px;
}

#spot-details-element-id-d1d22 {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.spot-details-element-d1d21d3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}