#spot-form-id-d1 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    background-color: #d3d3d3;
}

#spot-form-id-d1f2 {
    position: relative;
}

#spot-form-id-d1f2d31 {
    display: flex;
}

#spot-form-id-d1f2d32 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#spot-form-id-d1f2d32b4 {
    width: 100px;
    height: 30px;
    border: 2px solid black;
    background-color: #2b2d42;
    transition-property: border, background-color;
    transition-duration: 1s;
    font-size: larger;
    color: white;
}

#spot-form-id-d1f2d32b4:hover {
    color: black;
    background-color: #8d99ae;
}

.spot-form-d1f2d31d4d5 {
    position: relative;
}
