/* REVIEWS */

/* DIV */

#reviews-id-d1 {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 550px);
    grid-template-rows: repeat(auto-fit, 300px);
}


.reviews-d1d2 {
    width: 550px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
}

/* REVIEW CARD */

/* DIV */

.review-card-d1 {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e9ecef;
    transition-property: box-shadow;
    transition-duration: 1s;
} 



.review-card-d1d21 {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-card-d1d21i3 {
    width: 140px;
    height: auto;
    border-radius: 10px;
}

.review-card-d1d22 {
    width: 300px;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 60% 15%;
}

.review-card-d1d22d31 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.review-card-d1d22d32 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #f8f9fa;
}

.review-card-d1d22d33 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.review-card-d1d22d31d4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* IMG */

.review-card-d1d22d31i4 {
    width: 25px;
    height: auto;
    border-radius: 50%;
    padding: 5px;
    background-color: black;
}